<form [formGroup]="formOneStep" autocomplete="off">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="3">
        <ion-img class="custom-img" src="assets/images/oink-step-1-2.png" alt="Logo Coink"></ion-img>
      </ion-col>
      <ion-col size="7">
        <ion-text class="custom-text">Para comenzar, por favor ingresa <span class="custom-text-phone">tu
            número
            celular.</span></ion-text>
      </ion-col>
    </ion-row>
    <ion-item-divider class="custom-divider"></ion-item-divider>
    <ion-row>
      <ion-col size="12">
        <ion-input type="number" fill="solid" label="Celular" labelPlacement="stacked"
          placeholder="( X X X - X X X X X X )" formControlName="phone"
          errorText="Por favor, ingrese un número de celular válido" (keyup.enter)="onSubmitForm()"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>