<form [formGroup]="formOneStep" autocomplete="off">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="3">
        <ion-img class="custom-img" src="assets/images/oink-step-1-2.png" alt="Logo Coink"></ion-img>
      </ion-col>
      <ion-col size="7">
        <ion-text class="custom-text">Para comenzar, por favor ingresa <span class="custom-text-phone">tu
            número
            celular.</span></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-input type="number" fill="solid" label="Celular" labelPlacement="stacked"
          placeholder="Tú número de celular" formControlName="phone"
          errorText="Por favor, ingrese un número de celular válido"></ion-input>
      </ion-col>
      <ion-col size="12" style="display: flex; justify-content: center;">
        <ion-button class="custom-button-primary" (click)="onSubmitForm()">Siguiente</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>