<ion-content [fullscreen]="true">
  <div class="container">
    <div class="content">
      <ion-img class="custom-img-size" src="assets/images/icon_coink_login.png" alt="Logo Coink"></ion-img>
      <h4 class="title-register">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</h4>
    </div>
    <div class="footer-buttons">
      <ion-button class="custom-button-primary" (click)="onClickRedirectPageRegister()">REGÍSTRATE</ion-button>
      <ion-button class="custom-button-secondary">INGRESA</ion-button>
    </div>
  </div>
</ion-content>