.custom-img {
    width: 64px;
    height: 64px;
    --object-fit: contain;
}

.header-title {
    font-size: 14px;
    font-weight: 700;
    color: #004B40;
}

.header-description {
    font-size: 14px;
    color: #757575;
}

.error-message ion-label {
    font-size: 12px;
}

ion-item-divider.custom-divider {
    border-color: #1EEB00;
    margin-bottom: 20px;
}