<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="step >= 2" slot="start">
      <ion-button (click)="onClickButtonBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline" class="custom-button-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ nameStep[step - 1] }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <app-step-one-form *ngIf="step === 1" [formOneStep]="dataStepsForm.stepOneForm"
    (sendOneForm)="onSendFormStepOne()"></app-step-one-form>
  <app-step-two-form *ngIf="step === 2" [formTwoStep]="dataStepsForm.stepTwoForm"
    (sendTwoForm)="onSendFormStepTwo()"></app-step-two-form>
  <app-step-three-form *ngIf="step === 3" [formThreeStep]="dataStepsForm.stepThreeForm"
    (sendThreeForm)="onSendFormStepThree()"></app-step-three-form>
</ion-content>